* {
  font-family: 'DM Sans';
}

/* *helping classe start*/
.pt20 {
  padding-top: 20px;
}

.pl15 {
  padding-left: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.center {
  text-align: center;
}

/* *helping classe  end*/
.main-heading {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #1A1D1F;
  padding: 0px 0px 30px 0px;
}

.sub-text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #555770;
  padding: 0px 0px;
  text-align: justify;
}

.navbar {
  padding: 0px 0px;
  border-bottom: none !important;
}

.navbar .navbar-brand {
  padding: 0px;
}

.navbar-brand img {
  width: 150px;
}

.navbar .nav-item {
  padding: 0px 0px 0px 30px;
}

.navbar .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #060A23;
}

.navbar-light .navbar-nav .nav-link {
  color: #060A23;
  padding: 0px 0px !important;
}


.header-border {
  border-bottom: solid 1px #c5c3c3;
}

.navbar-nav .nav-item.active .nav-link {
  color: #060A23;
  border-bottom: 1px solid #060A23;
  padding-bottom: 0px;
  position: relative;
  line-height: 70px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #060A23;
  border-bottom: 1px solid #060A23;
  padding-bottom: 0px;
  position: relative;
  line-height: 70px;
}

.login-btn {
  background: #0B1F40;
  color: #FFFFFF;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  width: 106px;

}
.navbar-ul {
  display: flex;
  align-items: center;
}

/* Our partrner section css code [start] */
.our-partner {
  padding: 10px 0px 20px 0px;
  background-color: #FAFAFA;
}

.partner-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-partner img {
  width: 100px;
}

.slider {
  margin: 20px 0px;
}

.slide-track {
  /* width: 100%; */
  display: flex;
  gap: 1em;
  overflow: hidden;
}

.slide-track .slide {
  border-right: solid 1px #ccc;
}

.owl-carousel .owl-item img {
  width: auto !important;
  margin: 0 auto;

}

#customPrevBtn {
  cursor: pointer;
}

#customNextBtn {
  cursor: pointer;
}

/* section css code[start]  */
.newsletter {
  padding: 30px 0px 30px 0px;

}

.flex-container {
  display: flex;
}

.flex-item.item1 {
  flex: 0 0 55%;
  margin: 0px 0px 0px 0px;

}

.flex-item.item2 {
  flex: 0 0 45%;
  margin: 0px 0px 0px 0px;

}


.newsletter-bg img {
  width: 100%;
  height: auto
}


.owl-carousel .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.services-img {
  width: 100%;
  max-width: 50px;
  height: auto;
}


.owl-carousel {
  margin: 20px 0px 0px 0px;
}


.owl-carousel .item {
  margin-right: 0px;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: stretch;
}


/* Footer css code [start] */
.page-footer {
  padding: 0px !important;
}


.page-footer .copywright-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 0px;
  color: #FFFFFF;
  border-top: solid 1px #555770;
  text-align: center;
}

.footer-pad .mail-text {
  display: flex;
}

.footer-pad {
  background-color: #0B1F40;
  height: auto;
  padding: 30px 0px 0px 0px;
}

.footer-pad .footer-address {

  padding: 15px 0px 15px 0px !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF !important;
}

.right-align {
  text-align: right;
  list-style-position: inside;
}

.footer-pad ul li {
  list-style-type: none;
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #8E90A6;
}

.footer-pad ul li a {
  color: #8E90A6 !important;
}

.footer-pad ul li a:hover {
  text-decoration: none;
}

.footer-bg {
  background-color: #f2f2f2;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.social-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.social-flex .social-icon {
  border: solid 1px #ffffff;
  padding: 5px 6px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 0px 15px 0px 0px;
  cursor: pointer;
}

.form-inline {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 30px 0px;
}

.form-inline input {
  vertical-align: middle;
  margin: 0px 15px 0px 0;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #a0a3c5;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* footer css code [end] */

/* <---- mobile responsive code----> */
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .pr15 {
    padding-right: 0px !important;
  }

  .pl15 {
    padding-left: 0px !important;
  }

  .main-heading {
    font-size: 30px;
    line-height: 36px;
    padding: 0px 0px 20px 0px;
  }

  .sub-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 10px 0px;
  }

  /* Nanvar code css start */
  .navbar {
    padding: 10px 15px;
  }

  .navbar-ul {
    display: flex;
    align-items: flex-start;
  }

  .navbar .nav-item {
    padding: 0px 0px 0px 0px;
    width: 100%;
  }

  .navbar .nav-link {
    line-height: 35px;
  }

  /* Our partrner section css code [start] */

  .our-partner .partner-name {
    font-size: 16px;
    line-height: 20px;

  }

  .slide-track {
    gap: 3em;
  }

  /* Newsletter section css code[start]  */
  .flex-container {
    display: flex;
    flex-wrap: wrap;

  }

  .flex-item.item1,
  .flex-item.item2 {
    flex: 0 0 100%;
    margin: 0 0 10px 0;
  }

  .newsletter {
    padding: 20px 0px;
  }



  .owl-carousel .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .services-img {
    width: 100%;
    max-width: 50px;
    height: auto;
  }


  .service-card .sc-heading {
    font-size: 14px;
    line-height: 18px;
  }



  .owl-carousel {
    margin: 10px 0px 0px 0px;
  }

  .owl-carousel .item:first-child {
    margin-left: 15px;
  }

  /* Footer css code [start] */

  .page-footer .copywright-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 15px 0px;

  }

  .footer-pad .mail-text {
    display: flex;
  }

  .footer-pad {
    padding: 20px 0px 0px 0px;
  }

  .footer-bg {
    background-color: #f2f2f2;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .form-inline {
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 10px 0px 10px 0;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #a0a3c5;
    height: 48px;
    width: 100%;
    border-radius: 4px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }


}